.bg-dark2{

    background-color: #222831;
}
.bg-dark1{

    background-color: #393E46;
}
.bg-orange{

    background-color: #B55400;
}
.yukseklik{

    height: 870px;
}
.yukseklik1{

    height: 250px;
}
